.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.app-main {
  display: flex;
  flex: 1;
}

.app-sider {
  background: #fafafa;
  width: 100px;
  padding: 1rem;
}

.app-content {
  flex: 1;
  padding: 1rem;
  background: #fff;
}

.app-footer {
  background: #f0f2f5;
  padding: 1rem;
  text-align: center;
}
